/****************************************
Fichier : styleEquipe.css
Auteur  : Maïka Forestal
Fonction: Equipe
Date    : 2019-04-15
=========================================================
Vérification :
2019-05-03	Anthony Cote	Ok
2019-05-05	Maïka Forestal	Ok
2019-05-05 Christophe Leclerc Approuvé final (plus de modification)
=========================================================
Historique de modifications :
Date        Nom             Description

****************************************/
#formEquipe{
    margin-top: 25px;
    display: flow-root;
}
#choixCasquette label{
    margin-top: auto;
    margin-bottom: auto;
}

#casquettesList{
    width: 70%;
}

#listJoueur, #listBenevole, #creerEquipe{
    float: left;

}
#listJoueur table, #listBenevole table {
    width: 100%;
    height: 500px;
    padding: 5px;
}

#listJoueur tbody, #listBenevole tbody, #listJoueur table, #listBenevole table {
    max-height: 395px;
}

#creerEquipe{
    width: 100%;
}
.table tbody td{
    padding: 15px;
}