/****************************************
Fichier : styles.css
Auteur : Christophe Leclerc
Fonctionnalité : Permet d'appliquer des styles sur toutes
les pages du site web.
Date : 2019-04-15
Vérification :
2019-05-03  Anthony Cote        Ok
2019-05-05	Maïka Forestal	    Ok
2019-05-05 Christophe Leclerc Approuvé final (plus de modification)
=========================================================
Historique de modifications :
Date           Nom              Description
2019-04-23  Christophe Leclerc  Modification du styles des boutons.
2019-04-25  Anthony Cote        Enleve pour thead. tbody : display:block
2019-04-29  Anthony Cote        Change les couleurs de <tr> selon si c'est odd/even
2019-05-05	Maïka Forestal	    Réorganisation de l'ordre des styles
=========================================================
****************************************/

/****************************************
Les styles en général
****************************************/
body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/balls.jpg");
    background-size: cover;
    background-position: center;
}

header {
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 20px;
    background-color: #AE0000;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: white;
    height: 70px;
}

h2 {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top:6px;
    margin-bottom: 6px;
}

h1 {
    display: 200;
    font-weight: bold;
    margin-top:6px;
    margin-bottom: 6px;
    font-size: 3.5em;
}


.form,
form {
    border: 2px solid #AE0000;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;

    animation: fadein 1s ease-in;

}

input,
select,
.form-control {
    height: 35px;
    border-radius: 4px;
    border: solid 1px #AE0000;
    background-color: #FFF;
}

button,
.inputButton {
    width: 102px;
    height: 35px;
    border-radius: 4px;
    border: solid 1px #AE0000;
    color: black;
    background-color: #FDD;
    transition: 1s;
}

button:hover,
.inputButton:hover {
    width: 102px;
    height: 35px;
    border-radius: 4px;
    background-color: #AE0000;
    color: white;
}

button:disabled,
.inputButton:disabled {
    color: black;
    background-color: white;
}

footer {
    background-color: #AE0000;
    color: white;
    height: 70px;
    font-size: 13px;
    text-align: center;
    padding-top: 8px;
}

@keyframes fadein {
    from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}


.padding-0 {
    padding: 0px;
    margin: 0px;
}

.padding-right-0 {
    padding-right: 0px;
}

.spacer-top {
    margin-top: 8px;
}

.contenuPage {
    border: 2px solid #AE0000;
}

.container-fluid {
    padding: 0px;
}

/****************************************
Les styles de la navigation
****************************************/
nav {
    height: 60px;
    background-color: white;
}

nav a, nav li, section, article, .contenu {
    box-sizing: border-box;
}

nav a{
    width: inherit;
}
nav, nav ul {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav, nav ul {
    margin: 0px;
    padding: 0px !important;
}

nav li, nav a {
    box-sizing: border-box;
    display: block;
    float: left;
    padding-top: 5px;

    width: 100%;
}

nav a, nav a:hover {
    font-size: 119%;
    font-weight: bold;
    color: black;
    text-decoration: none;

    padding: inherit;
    height: inherit;
    width: -webkit-fill-available;
}

nav li {
    border-width: 2px;
    border-style: solid;
    border-color: #AE0000;
    list-style-type: none;
    text-align: center;
    height: 60px;
    transition: 1s;
}

nav li#active {
    background-color: #F1D8D7;
}

nav li:hover {
    background: #F1D8D7;
    text-decoration: underline #AE0000;

    transition: 1s;
}
/****************************************
Les styles pour les onglets
****************************************/
#onglets {
    padding: 0;
    font-weight: bold;
    list-style-type: none;
}

#onglets li {
    float: left;
    height: 31px;
    width: 100px;
    background-color: #F4F9FD;
    border: 2px solid #AE0000;
    transition: 1s;
}

#onglets li.active {
    border-bottom: 3px solid #fff;
    background-color: #F1D8D7;
    transition: 1s;
}

#onglets a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 4px;
}

#onglets a:hover, #onglets li:hover {
    background: #F1D8D7;
    transition: 1s;
}

#menuOnglet {
    height: fit-content;

}

/******************************************
 *  Tableaux                              *
 ******************************************
- Ligne alternatives
- Entetes
- Couleurs
*/

table {
    border: 1px solid #AE0000;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: white;
    padding:2px;
}

td, th {
    box-sizing: border-box;
    width: 290px;
    border: #AE0000 solid 1px;
}

thead {
    background-color: #AE0000;
    color: white;
    font-weight: bold;
    text-align: left;
}

thead, tbody { display: block; }

tbody {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

table tbody tr:nth-child(odd){
    background-color: #FFF;
    transition: background-color 0.5s;
}
table tbody tr:nth-child(even){
    background-color: #FDD;
    transition: background-color 0.5s;
}

table tbody tr:nth-child(odd):hover {
    background-color: #DF9999;
}
table tbody tr:nth-child(even):hover {
    background-color: #DF9999;
}

/*Permet de visualiser que la ligne a été sélectionner*/
.ligneSelectionner{                             
    background-color: white;
    border: 4px #AE0000 solid;
}

#menuIcon{
    width: 200px;
    margin-left: 10px;
}
#icon{
    box-sizing: border-box;
    width: fit-content;
    padding:2px 4px;
}
#icon:hover{
    background-color: #DF9999
}
#icon div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.centrer {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width:1199px) {
    #menu{
        background-color: #AE0000;
        border: 2px white solid;
    }
    .vertical-menu {
        position: absolute;
        margin-left: 10px;
        width: 250px; /* Set a width if you like */
        z-index: 1;
        background-color: white;
        border:4px #DF9999 solid;
    }

    nav a, nav a:hover {
        font-size: 15px;
    }
}

/* Info-bulles */
span#tooltip {
    float: right;
    margin-right: 10px;
}

span#tooltip a span {
    display: none;
}
span#tooltip a:hover span {
    display: block;
    position: relative;
    width: 125px;
    padding: 5px;
    margin: 10px;
    z-index: 100;
    color: black;
    background-color:#FDD;
    border: 1px solid #A00;
    font: 14px Verdana, sans-serif;
    text-align: left;
}

span#tooltip a {
    position:relative;
}

span#tooltip a span {
    display:none;
}

span#tooltip a:hover span {
    display:block;
    position:absolute;
    right: 1px;
    width: 300px;
    color: black;
    background-color:#FDD;
    border: 1px solid #A00;
    font: 14px Verdana, sans-serif;
    text-align: left;
}
span#tooltip img {
    width: 35px;
    height: 35px;
}

span#tooltip a:hover {
    text-indent:0;
}

#tooltip button {
    border-radius: 50%;
    border: 1px solid black;
    padding-top: 3px;
}

#logout {
    float: right;
    margin-right: 10px;
}

.textError{
    color:red;
    font-weight: bold;
    text-align: justify;
    font-size: 13px;
    padding-top:0px;
    padding-bottom:16px;
}