/****************************************
Fichier : styleEpreuve.css
Auteur  : Christophe Leclerc
Fonction: Gestion des epreuves
Date    : 2019-04-15
=========================================================
Vérification :
2019-05-03	Anthony Cote	Ok
2019-05-05	Maïka Forestal	Ok
2019-05-05 Christophe Leclerc Approuvé final (plus de modification)
=========================================================
Historique de modifications :
Date        Nom             Description

****************************************/
input, fieldset>div {
    display: inline;
}

.form-control {
    display: inline;
}

.ajustInput {
    width: auto;
}

.ajustInput:hover {
    width: auto;
}

.fix {
    width: 35px;
}

.fix:hover {
    width: 35px;
}

.plus {
    background: url(../images/plus.png);
    background-color: #FDD;
    background-size: 100% 100%;
}

th {
    width: 370px;
}

td {
    width:25%;
}

#description {
    height: 70px;
    text-align: left;
    vertical-align: top;
}
