/****************************************
Fichier : styleBenevoles.css
Auteur  : Maïka Forestal
Fonction: Benevoles
Date    : 2019-04-15
=========================================================
Vérification :
2019-05-03	Anthony Cote	    Ok
2019-05-05	Maïka Forestal    Ok
2019-05-05 Christophe Leclerc Approuvé final (plus de modification)
=========================================================
Historique de modifications :
Date        Nom             Description

****************************************/
form {
  padding-top: 15px;
}

/*
  Style appliqué au différent bloc du formulaire 
  de bénévole.
*/
#zoneRecherche {
  float: left;
  padding-top: 8px;
  padding-bottom: 5px;
  margin-left: 15px;
  box-sizing: border-box;
  border: #ae0000 2px solid;
  border-radius: 10px;
}

#rechercheBenevole div {
  min-height: 75px;
}

#infoCompte,
#infoEvaluateur,
#groupedeEvaluateur,
#formBtn,
#tabBenevole {
  float: left;
  display: block;
  box-sizing: border-box;
}

#infoCompte input,
#infoCompte label,
#infoEvaluateur input,
#infoEvaluateur label,
#infoEvaluateur select,
#groupedeEvaluateur label,
#groupedeEvaluateur input {
  margin-bottom: 10px;
  padding-left: 0px;
  margin-right: 0px;
}

#zoneRecherche label,
#zoneRecherche input,
#zoneRecherche select {
  margin-bottom: 6px;
}

#infoCompte input,
#infoEvaluateur input {
  height: 27px;
}

/*
  Display appliqué sur les combo-box pour qu'ils
  se positionnent à coté de leur label.
*************************************************/
.form-control {
  display: inline;
}


/* Style pour faire le toggle switch
*************************************/
.switch {
  position: relative;
  display: inline-block;
  height: 35px;
  width: 90%;
  max-width: 300px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  background-color: #ccc;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider:before {
  z-index: 1;
  border-radius: 4px;
  position: absolute;
  content: "";
  height: 27px;
  width: 45%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/*
  Quand le checbox est coché, donc quand
  on active le bénévole
**********************************************/
input:checked + .slider {
  background-color: #ae0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ae0000;
}

/*
  Déplacement du div blanc
*/
input:checked + .slider:before {
  -webkit-transform: translateX(111%);
  -ms-transform: translateX(111%);
  transform: translateX(111%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider div {
  height: -webkit-fill-available;
  float: left;
  width: 45%;
  padding-top: 7px;
  font-size: 116%;
  padding-bottom: 12px;
  padding-right: auto;
  padding-left: 10%;
}

/*
  Couleur du texte du switch lorsque l'on indique "Désactivé" 
**************************************/
#nonActif {
  color: black;
}

/*
  Aligne le text: "Afficher le mot de passe", au checkbox
********************/
#affMdpText {
  padding-top: 8px;
}

#showMDP {
  width: 18px;
}

#lblDateEval {
  min-width: 160px;
}

#interroger {
  margin-left: 15px;
}

#type {
  height: 35px;
}

.champMdp {
  margin-bottom: 5px !important;
}

/*
Styles pour les tableaux lorsque celui-ci devient trop large pour la page
*******************************************************************/
@media only screen and (max-width: 893px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(odd) {
    background: #ccc;
  }

  td {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    top: 0;
    left: 6px;
    width: 100%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
		Étiquette pour les donnée
  ***************************************/
  td:nth-of-type(1):before {
    content: "Nom:";
  }
  td:nth-of-type(2):before {
    content: "Prénom:";
  }
  td:nth-of-type(3):before {
    content: "Type:";
  }
  td:nth-of-type(4):before {
    content: "Téléphone:";
  }
  td:nth-of-type(5):before {
    content: "Courriel:";
  }
}
