/****************************************
Fichier : stylesLogin.css
Auteur  : Anthony Côté
Fonction: Evenement
Date    : 2019-04-15
=========================================================
Vérification :
2019-05-03	Anthony Cote	Ok
2019-05-05	Maïka Forestal	Style à enlever?
2019-05-05 Christophe Leclerc Approuvé final (plus de modification)
=========================================================
Historique de modifications :
Date        Nom             Description

****************************************/
.containerLoader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: -1;
}
.textError{
    color:red;
    font-weight: bold;
    text-align: justify;
    font-size: 13px;
}
.loader {
    margin-top: -140px;
    margin-left: 218px;
    max-width: 15rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}

/*  TODO:
    Si on garde pas les truc circulaire, à enlever?
*/

circle {
    fill: none;
    stroke-width: 3.5;
    -webkit-animation-name: preloader;
        animation-name: preloader;
    -webkit-animation-duration: 3s;
        animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    -webkit-transform-origin: 170px 170px;
        transform-origin: 170px 170px;
    will-change: transform;
}
circle:nth-of-type(1) {
    stroke-dasharray: 550px;
}
circle:nth-of-type(2) {
    stroke-dasharray: 500px;
}
circle:nth-of-type(3) {
    stroke-dasharray: 450px;
}
circle:nth-of-type(4) {
    stroke-dasharray: 300px;
}
circle:nth-of-type(1) {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}
circle:nth-of-type(2) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
circle:nth-of-type(3) {
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
}
circle:nth-of-type(4) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes preloader {
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* Info-bulles */
div#tooltip a span {
    display: none;
}
div#tooltip a:hover span {
    display: block;
    position: relative;
    width: 125px;
    padding: 5px;
    margin: 10px;
    z-index: 100;
    color: black;
    background-color:#FDD;
    border: 1px solid #A00;
    font: 14px Verdana, sans-serif;
    text-align: center;
}

div#tooltip a {
    position:relative;
}

div#tooltip a span {
    display:none;
}

div#tooltip a:hover span {
    display:block;
    position:absolute;
    width: 250px;
    color: black;
    background-color:#FDD;
    border: 1px solid #A00;
    font: 14px Verdana, sans-serif; text-align: center;
}

div#tooltip a:hover {
    text-indent:0;
}

#tooltip button {
    border-radius: 50%;
    border: 1px solid black;
    padding-top: 3px;
}
