/****************************************
Fichier : styleAuthentification.css
Auteur  : maika Forestal
Fonction: Authentification
Date    : 2019-04-15
=========================================================
Vérification :
2019-05-03	    Anthony Cote	    Ok
2019-05-05      Maïka Forestal      Ok
2019-05-05 Christophe Leclerc Approuvé final (plus de modification)
=========================================================
Historique de modifications :
2019-05-05        Maïka Forestal    Ajout de commentaires et mettre en 
                                    ordre la présentation des éléments 
                                    (ex.: regrouper les styles sur le form)

****************************************/
body {
  margin: 10px;
  padding: 0px;
}

header {
  height: 70px;
  border-left: solid 3px #ae0000;
  border-right: solid 3px #ae0000;
  border-top: solid 3px #ae0000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/*
    Style appliqué au formulaire
*************************************/
form {
  position: sticky;
  z-index: 1;
  box-sizing: border-box;
  height: 240px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-left: 29px;
  background-color: white;
  border-width: 2px;
  border-radius: 4px;
  border-color: #ae0000;
  border-style: solid;
}

form h1 {
  text-align: center;
}

form label,
form input {
  margin-top: 5px;
  float: left;
  font-size: larger;
}

form button {
  width: 102px;
  height: 35px;
  border: solid 2px #ae0000;
  border-radius: 4px;
  background-color: white;
}

footer {
  border-left: solid 3px #ae0000;
  border-right: solid 3px #ae0000;
  border-bottom: solid 3px #ae0000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*
    Style par ID d'éléments
********************************/
#contenu {
  min-height: 560px;
  border-left: solid 3px #ae0000;
  border-right: solid 3px #ae0000;
}

#login input {
  margin-right: 115px;
  width: 230px;
}

#newMDP input {
  margin-right: 65px;
  width: 220px;
}

#newMDP button {
  margin-left: 340px;
  margin-top: 15px;
}

#user {
  margin-left: 126px;
}
#nouvMdp {
  margin-left: 34px;
}

#confMdp {
  margin-left: 5px;
}

#utilisateur {
  margin-left: 10px;
  float: left;
}

#mdp {
  margin-left: 41px;
  margin-bottom: 20px;
  float: left;
}

#baseballIcone {
  position: absolute;
  left: 51px;
  top: 324px;
  margin-top: 0px;
  width: 400px;
}

#rallycap {
  width: 200px;
  position: absolute;
  left: 85%;
  top: 506px;
}

#recuperer {
  margin-right: 148px;
}

/*
    Style appliqué par une classe
**************************************/
.rouge {
  box-sizing: border-box;
  background-color: #ae0000;
  height: 100px;
  padding-top: 60px;
}
