/****************************************
Fichier : stylejoueur.css
Auteur  : Massinissa Talah
Fonction: Joueur
Date    : 2019-04-15
=========================================================
Vérification :
2019-05-03	Anthony Cote	Ok
2019-05-05	Maïka Forestal	Ok
2019-05-05 Christophe Leclerc Approuvé final (plus de modification)
=========================================================
Historique de modifications :
Date        Nom             Description

****************************************/
/******************************************
 *  Joueurs                           *
 ******************************************
- Espace entre les champs
- Largeur des div
*/

#infoEnfant, #infoTuteur, #evaluateur {
    float: left;
    min-height: 410px;
}

input,label{
    margin-bottom: 10px;
    padding-left: 0px;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;

    margin-top:10px;
    margin-bottom: 5px;
}

#consulterGroupe{
    width: 150px;
}
#lesBtn,#tabJoueur{
    float: left;
    display: block;
    box-sizing: border-box;
}


/*
Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
*/
@media
only screen
and (max-width: 893px), (min-device-width: 768px)
and (max-device-width: 1024px)
{

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        width: 100%;
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 100%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    td:nth-of-type(1):before { content: "Prénom : "; }
    td:nth-of-type(2):before { content: "Nom : "; }
    td:nth-of-type(3):before { content: "Date de naissance : "; }
    td:nth-of-type(4):before { content: "Casquette : "; }
    td:nth-of-type(5):before { content: "État : "; }
    td:nth-of-type(6):before { content: "Prénom tuteur : "; }
    td:nth-of-type(7):before { content: "Nom tuteur : "; }
    td:nth-of-type(8):before { content: "Téléphone tuteur : "; }
    td:nth-of-type(9):before { content: "Courriel tuteur : "; }
}


/* Breakpoint XS */
@media (max-width: 575px)
{
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }

}
