/****************************************
Fichier : stylesCaquettes.css
Auteur : Christophe Leclerc
Fonctionnalité : Permet d'appliquer des styles sur la page
qui s'occupe de la gestion des casquettes (GUICasquettes.php).
Date : 15 avril 2019
Vérification :
2019-05-03  Anthony Cote        Ok
2019-05-05	Maïka Forestal	    Ok
2019-05-05  Christophe Leclerc  Approuvé final (plus de modification)
=========================================================
Historique de modifications :
Date Nom Description
=========================================================
****************************************/
.ajustInput {
    width: auto;
}

th, td {
    width: 400px;
}

tbody {
    height: 300px;
}

.ajustInput:hover {
    width: auto;
}

.fix {
    width: 35px;
}

.fix:hover {
    width: 35px;
}

.cn {
    position: relative;
}

.verticaly-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus {
    background: url(../images/plus.png);
    background-color: #FDD;
    background-size: 100% 100%;
}

.arrowLeft {
    background: url(../images/arrow.png);
    background-color: #FDD;
    background-size: 100% 100%;
}

.arrowRight {
    background: url(../images/arrow.png);
    background-color: #FDD;
    background-size: 100% 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.max-width {
    max-width: 40px;
}

@media only screen and (max-width: 767px) {
    .spacer-top-mobile {
        margin-top: 20px;
    }

    .max-width {
        max-width: 100px;
    }

    .arrowLeft {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .arrowRight {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}